<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4><strong>关注我</strong></h4>
        <img class="img-thumbnail question-wechat" src="/images/wechat.jpg">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4><strong>推广</strong></h4>
        <a href="https://time.geekbang.org/" target="_blank">
            <img class="img-thumbnail question-wechat" src="/images/geektime.png">
        </a>
    </div>
</div>
</body>
</html>